/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

.responsive-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* -- Carousel slider --*/
.slider .slides li img {
background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
  object-fit: cover;
}

h3 {
  color: #f8efea;
}

.slides-small-text {
  color: #e0475b;
}


/* -- Nav bar --*/

.nav-wrapper {
  background-color: #192f01;
}

nav ul a, nav .brand-logo {
  color: #f8efea;
  margin-left: 10px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
  color: #e0475b;
}


footer.page-footer {
  margin: 0;
  background-color: #e0475b;
}


