{% extends 'base.html' %}
{% block content %}
<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="{{ recipe.image }}" width="300" height="300">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p><strong>{{recipe.category_name}}</strong> -
            {{recipe.recipe_name}} - {{ recipe.time }} - {{ recipe.serves }}</p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('view_recipe', recipes_id=recipe._id) }}">View Recipe</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}