{% extends 'base.html' %}
{% block content %}


<div class="row">
    <h2 class="center">Featured Cooking Tools</h2>
</div>


<div class="row">
    {% for tools in cooking_tools %}
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="{{ tools.tool_image }}" width="300" height="300">
                <span class="card-title">{{tools.tool_name}}</span>
            </div>
            <div class="card-content">
                <p>{{tools.tool_description}}</p>
            </div>
            <div class="card-action">
                <a href="{{tools.tool_url}}" target="_blank">Buy</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}