{% extends 'base.html' %}
{% block content %}
<!--This page will display all information regarding a recipe-->
<div class="row">

    <h2 class="center-align">{{recipes.recipe_name}}</h2>
    <br>
    <div class="col s12">
        <img class="responsive-img" src="{{ recipes.image }}">
        <div>
            <h5>{{recipes.recipe_description}}</h5>
            <div class="recipe-author">
                <i>Author: {{recipes.author}} </i>
            </div>
        </div>
        <div class="inline-details">
            <ul>
                <li><i class="small material-icons">local_dining</i><span><strong> Meal Type: </strong>
                        {{recipes.category_name}}</span></li>
                <li><i class="small material-icons">alarm_on</i><span><strong> Time: </strong>
                        {{recipes.time}}</span></li>
                <li><i class="small material-icons">people_outline</i><span><strong> Serves: </strong>
                        {{recipes.serves}}</span></li>
                <li><i class="small material-icons">account_circle</i><span><strong> Added by: </strong>
                        {{recipes.recipe_added_by_username}}</span></li>
                <i class="small material-icons">local_dining</i><span><strong> Try using our </strong>
                    <a href="{{url_for('cooking_tools')}}">{{recipes.tool_name}}</a></span>
            </ul>
        </div>
        <div class="paragraph-details">
            <h5>Ingredients</h5>
            <ul>
                <li> {{recipes.ingredients}} </li>
            </ul>
        </div>
        <div class="paragraph-details">
            <h5>Method</h5>
            <p>{{recipes.method}}</p>
        </div>
        {% if session.user %}
        <div class="inline_actions edit-delete-btns">
            <a href="{{url_for('edit_recipe', recipes_id=recipes._id)}}"
                class="waves-effect waves-light btn btn_small blue">Edit</a>

            <a href="{{url_for('delete_recipe', recipes_id=recipes._id)}}"
                class="waves-effect waves-light btn btn_small red">Delete</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}